<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>register</title>

</head>
<body>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}"> <!-- 현재 템플릿의 content 부분을 layout/basic 파일의 setContent 부분으로 대체한다는 의미입니다 -->
    <th:block th:fragment="content">
        <h1 class="">modify</h1>
        <form action="/guestbook/modify" method="post">
            <input type="hidden" name="page" th:value="${requestDTO.page}">
            <input type="hidden" name="type" th:value="${requestDTO.type}">
            <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">
            <div class="form-group">
                <label>bno:</label>
                <input type="text" name="bno"  class="form-control" th:value="${dto.bno}" readonly>
            </div>
            <div class="form-group">
                <label>Title:</label>
                <input type="text" name="title"  class="form-control" th:value="${dto.title}" >
            </div>
            <div class="form-group">
                <label>Content:</label>
                <textarea name="content" rows="5" class="form-control" >[[${dto.content}]]</textarea>
            </div>
            <div class="form-group">
                <label>Writer:</label>
                <input type="text" name="writerName" class="form-control" th:value="${dto.writerName}" readonly>
            </div>
            <div class="form-group">
                <label>RegDate:</label>
                <input type="text" name="regDate"  class="form-control" th:value="${dto.regDate}" readonly>
            </div>
            <div class="form-group">
                <label>ModifyDate:</label>
                <input type="text" name="modifyDate"  class="form-control" th:value="${dto.modDate}" readonly>
            </div>
        </form>
             <button type="button" class="btn btn-primary modifyBtn">Modify</button>

            <button type="button" class="btn btn-info form-group listBtn">List</button>

            <button type="button" class="btn btn-danger removeBtn">Remove</button>

    </th:block>
</th:block>
    <script th:inline="javascript">
        let actionForm = $("form");
        $(".removeBtn").click(function (){
            actionForm.attr("action", "/board/remove")
                .attr("method","post")
            actionForm.submit()
        });

        $(".modifyBtn").click(function (){
            actionForm.attr("action", "/guestbook/modify")
                .attr("method","post")
            actionForm.submit()
        });
        $(".listBtn").click(function (){
            var page = $("input[name='page']");
            var type = $("input[name='type']");
            var keyword = $("input[name='keyword']");

            actionForm.empty();

            actionForm.append(page);
            actionForm.append(type);
            actionForm.append(keyword);

            actionForm.attr("action", "/guestbook/list")
                .attr("method","get")
            actionForm.submit()
        });
    </script>
</body>
</html>